li a {
    color: black;
}
body {
    background: #7395AE;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }



.page-footer {
    background-color: #5D5C61;
}
.nav-wrapper {
    background-color: #5D5C61;
}