<!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      
      <!--Import materialize.css-->
      {% load static %}
      <link type="text/css" rel="stylesheet" href="{% static 'polls/css/materialize.min.css' %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'polls/style.css'%}" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right"><img src="{% static 'polls/images/vote.png' %}" height="60" width="60"/></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#"><b>THE POLLING APP</b></a></li>
                
            </ul>
            </div>
        </nav>

      
        {% block content_block %}
        {% endblock %}
        <center><img src="{% static 'polls/images/background.gif' %}" id="myimg" height = "200" width="200"></center>
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            <p><center>© 2020 Developed By Dimple Sharma</center></p>
            
            </div>
          </div>
        </footer>
      <script type="text/javascript" src="{% static 'polls/js/materialize.min.js '%}"></script>
    </body>
</html>