{% extends "polls/base_file.html" %}

{% block content_block %}
<h1><center><b>{{ question.question_text }}</b></center></h1>
<br>


{% if error_message %}<center><p><strong>{{ error_message }}</strong></p></center>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <center>
    <p>
      <label for="choice{{ forloop.counter }}">
        <input name="choice" type="radio" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
        <span style="color:black;"><h6><b>{{ choice.choice_text }}</b></h6></span>
      </label>
    </p>
    
    </center>
    <br>
    
{% endfor %}
<center>
<a class="waves-effect waves-light btn-large"><input type="submit" value="Vote"></a>

<center>
</form>

{% endblock content_block %}