{% extends "polls/base_file.html" %}

{% block content_block %}
{% if latest_question_list %}
    <h1><b><center> Available Questions </center></b></h1>
    <br>
    <br>
    <ul>
    {% for question in latest_question_list %}
        <li><h3><center><b><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></b></center></h3></li>
        <br>
    {% endfor %}
    </ul>
    
{% else %}
    <p>No polls are available.</p>
{% endif %}


{% endblock content_block %}

