{% extends "polls/base_file.html" %}

{% block content_block %}
<h1><b><center>{{ question.question_text }}</center></b></h1>

<ul>
{% for choice in question.choice_set.all %}
   <li><center><h5><b>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</b></h5></center></li>
    <br>
    <br>
{% endfor %}
</ul>

<h6 style="color:grey;"><b><a href="{% url 'polls:detail' question.id %}"><center>Vote again?</center></a></b><h6>

{% endblock content_block %}